<div class="dialog-container">
  <!-- Dialog Header with Dynamic Title and Close Button -->
  <header class="dialogHeader" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    {{ dynamicTitle }} <!-- Dynamic title -->
    <button class="text-danger" (click)="onCloseDialog()">X</button>
  </header>
  

  <!-- Form Section for Adding or Editing Ref Codes -->
  <div class="row pb-3 pt-2">
    <form [formGroup]="formGroup">
      <div class="row border-b border-dashed">
        <!-- Ref Code Input -->
        <div class="col-md-6">
          <label for="ref_code" class="font-medium text-black required-label">Ref Code</label>
          <input
            autocomplete="off"
            type="text"
            formControlName="ref_code"
            id="ref_code"
            name="ref_code"
            class="form-control"
            
            [ngClass]="{'is-invalid': formGroup.get('ref_code')?.invalid && formGroup.get('ref_code')?.touched}"
          />
          <div *ngIf="formGroup.get('ref_code')?.invalid && formGroup.get('ref_code')?.touched" class="invalid-feedback">
            Ref Code is required.
          </div>
        </div>

        <!-- Description Input with Larger Box -->
        <div class="col-md-6">
          <label for="ref_code_description" class="font-medium text-black required-label">Description</label>
          <textarea
            autocomplete="off"
            formControlName="ref_code_description"
            id="ref_code_description"
            name="ref_code_description"
            class="form-control"
            rows="5"
            
            [ngClass]="{'is-invalid': formGroup.get('ref_code_description')?.invalid && formGroup.get('ref_code_description')?.touched}"
          ></textarea>
          <div *ngIf="formGroup.get('ref_code_description')?.invalid && formGroup.get('ref_code_description')?.touched" class="invalid-feedback">
            Description is required.
          </div>
        </div>
      </div>
    </form>

    <!-- Action Buttons for Save and Close -->
    <div class="d-flex gap-3 mt-3 px-4 justify-content-end">
      <button
        class="border border-danger text-danger h-full rounded font-medium px-4 py-2"
        type="button"
        (click)="onCloseDialog()"
      >
        Close
      </button>
      <button
        class="bg-danger h-full rounded text-white font-medium px-4 py-2"
        type="button"
        (click)="handleSave()"
        [disabled]="formGroup.invalid"
      >
        Save
      </button>
    </div>
  </div>
</div>
