<div class="row gap-y-2 shadow-md relative align-items-center h-16" style="height: 9vh;">
  <div class="col-sm-2 py-2">
    <img role="button" class="col-9 logo-header" style="max-width: 200px;" routerLink="../../landing"
      src="../../../../assets/Metadata.jpeg" alt="">
  </div>
</div>

<div class="row">
  <form [formGroup]="definitionFormGroup" class="p-3">
    <div class="d-flex justify-content-between">
      <h2 class="text-xl px-3 font-extrabold inline-block">
        Business Term
      </h2>
    </div>

    <div class="row">
      <div class="col-md-7 border-r border-dashed border-gray-500">
        <div class="row pe-2">
          <!-- <div class="col-md-6 relative d-flex">
            <mat-form-field class="example-full-width field  col-11">
              <label matTooltip="Name of the Project" for="fullName" class="font-medium text-black required-label">
                Business Term ID
              </label>
              <input readonly type="text" id="customerId" name="customerId" class="col-12" matInput
                formControlName="business_term_id" [matAutocomplete]="autoClient">
              <mat-autocomplete #autoClient="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsBTDesc | async " [value]="option.value">
                  {{option.value}}
                </mat-option>
              </mat-autocomplete>

              <small class="error_text"
                *ngIf="(FF['business_term_id'].errors?.['required'] && !isFormValid ) || (FF['business_term_id'].invalid && !isFormValid )">
                *Required field
              </small>
            </mat-form-field>

            <button type="button" class="bg-danger h-fit absolute right-1 bottom-0 top-3 my-auto add-btn ">
              +
            </button>
          </div> -->

          <div class="col-md-5 relative d-flex">
            <mat-form-field class="example-full-width field col-11">
              <label matTooltip="Name of the Project" for="fullName" class="font-medium text-black ">
                Business Term
              </label>
              <input type="text" id="businessTerm" name="businessTerm" class="col-12" matInput
                formControlName="business_term" [matAutocomplete]="autoBTerm" (input)="onBusinessTermInput($event)">
              <mat-autocomplete #autoBTerm="matAutocomplete" (optionSelected)="onBusinessTermSelected($event)">
                <mat-option *ngFor="let option of filteredOptionsBTerm | async" [value]="option.business_term">
                  {{ option.business_term }}
                </mat-option>
              </mat-autocomplete>

              <small class="error_text"
                *ngIf="(FF['business_term'].errors?.['required'] && !isFormValid) || (FF['business_term'].invalid && !isFormValid)">
                *Required field
              </small>
            </mat-form-field>

            <button type="button" class="bg-danger h-fit absolute right-1 bottom-0 top-4 my-auto add-btn ">
              +
            </button>
          </div>


          <div class="col-md-7">
            <mat-form-field class="example-full-width field col-12">
              <label matTooltip="Name of the Project" for="fullName" class="font-medium text-black ">
                Business Term Description
              </label>
              <input type="text" id="businessTermDesc" name="businessTermDesc" class="col-12" matInput
                formControlName="business_term_description" [matAutocomplete]="autoBTDesc">
              <mat-autocomplete #autoBTDesc="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsBTDesc | async" [value]="option.value">
                  {{option.value}}
                </mat-option>
              </mat-autocomplete> 
              <small class="error_text"
                *ngIf="(FF['business_term_description'].errors?.['required'] && !isFormValid) || (FF['business_term_description'].invalid && !isFormValid)">
                *Required field
              </small>
            </mat-form-field>
          </div>


          <div class="col-md-4">
            <mat-form-field class="example-full-width field col-12">
              <label matTooltip="Name of the Project" for="fullName" class="font-medium text-black">
                Version</label>
              <input type="input" id="version" name="version" class="col-12" matInput formControlName="version">
              <small class="error_text"
                *ngIf="(FF['version'].errors?.['required'] && !isFormValid) || (FF['version'].invalid && !isFormValid)">
                *Required field
              </small>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <div class="field">
              <label matTooltip="Date when the project was created" for="date_created" class="font-medium text-black">
                Date Created</label>
              <input type="date" formControlName="date_created" name="date_created" id="date_created">
              <small class="error_text"
                *ngIf="(FF['date_created'].errors?.['required'] && !isFormValid) || (FF['date_created'].invalid && !isFormValid)">
                *Required field
              </small>
            </div>
          </div>

          <div class="col-md-4">
            <mat-form-field class="example-full-width field col-12">
              <label matTooltip="Is the business term active?" for="active" class="font-medium text-black">
                Active</label>
              <mat-select formControlName="active" placeholder="Select">
                <mat-option *ngFor="let item of actives" [value]="item.key">{{item.value}}</mat-option>
              </mat-select>
              <small class="error_text"
                *ngIf="(FF['active'].errors?.['required'] && !isFormValid) || (FF['active'].invalid && !isFormValid)">
                *Required field
              </small>
            </mat-form-field>
          </div>



          <!-- <div class="col-md-2 mt-3">
            <div class="field py-2">
              <button (click)="onSubmit()" type="submit"
                class="col-12 font-medium bg-danger text-white py-1 rounded-lg">
                Save
              </button>
            </div>
          </div> -->

        </div>
      </div>

      <div class="col-md-5 ">
        <div class="row">
          <div class="col-md-12 d-flex align-items-center">
            <div class="field" style="width: -webkit-fill-available;">
              <label for="complexName" class="font-medium text-black">Business term file</label>
              <div class="relative">
                <input type="file" #file id="fileContract" accept=".png, .jpg" name="fileContract"
                  (change)="uploadFile($event)" class="selectfileInputPay" aria-label="0.0" />
                <input type="text" [value]="projectFileName || FF['image_url'].value" disable />
                <i (click)="file.click()"
                  class="text-lg text-gray-700 absolute right-2 top-1 h-full fa-sharp fa-regular fa-paperclip"></i>
              </div>
            </div>

            <i role="button" (click)="deleteFile()" class="mt-4 ms-2 text-danger fa-solid fa-trash"></i>
          </div>

          <div *ngIf="fileLocalUrl || FF['image_url'].value" class="col-md-12 mt-2" style="height: 200px; width: 100%;">
            <img class="rounded-xl object-cover w-full h-full"
              [src]="fileLocalUrl? fileLocalUrl : FF['image_url'].value" alt="Business term image">
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-md-1 mt-3">
        <div class="field py-2">
          <button (click)="onSubmit()" type="submit" class="col-12 font-medium bg-danger text-white py-1 rounded-lg">
            {{selectedRow ? 'Save'  : "Add"}}
          </button>
        </div>
      </div>

      <div class="col-md-1 mt-3">
        <div class="field py-2">
          <button (click)="openTermPopUp('view')" type="submit"
            class="col-12 font-medium bg-danger text-white py-1 rounded-lg">
            View
          </button>
        </div>
      </div>

      <div class="col-md-1 mt-3">
        <div class="field py-2">
          <button (click)="openTermPopUp('update')" type="submit"
            class="col-12 font-medium bg-danger text-white py-1 rounded-lg">
            Update
          </button>
        </div>
      </div>

      <div class="col-md-1 mt-3">
        <div class="field py-2">
          <button (click)="openTermPopUp('delete')" type="submit"
            class="col-12 font-medium bg-danger text-white py-1 rounded-lg">
            Delete
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
